
*{
    font-family: "Bitcount", system-ui;
    font-optical-sizing: auto;
    font-weight: 386;
    font-style: normal;
    font-variation-settings: 
    "slnt" 0, 
    "CRSV" 0, 
    "ELSH" 0, 
    "ELXP" 0;
    
}

